.profile__user {
  display: grid;
  align-items: center;
  grid-area: user;
  grid-template-areas: "image info";
}

@media screen and (max-width: 618px) {
  .profile__user {
    grid-template-areas:
      "image"
      "info";
  }
}
