.profile {
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  grid-template-areas: "user add-button";
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile {
    margin: 42px 15px 0;
  }
}

@media screen and (max-width: 618px) {
  .profile {
    margin: 42px auto 0;
    max-width: 600px;
    grid-template-areas:
      "user"
      "add-button";
    justify-content: center;
  }
}
