.profile__info-about {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: about;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 280px;
}

@media screen and (max-width: 320px) {
  .profile__info-about {
    font-size: 14px;
    line-height: 17px;
    margin: 14px auto 0;
  }
}
