.header__logo {
  margin: 0;
  max-width: 173px;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin: 0 0 0 27px;
  }
}

@media screen and (max-width: 620px) {
  .header__logo {
    margin: 0 0 0 27px;
    max-width: 126px;
  }
}
