.popup__x-button {
  background: center no-repeat url(../../../images/buttons/plus.svg);
  background-size: 40px;
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
}

@media screen and (max-width: 618px) {
  .popup__x-button {
    background-size: 26px;
    right: -1px;
    top: -50px;
  }
}

.popup__x-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
