.popup__x-button {
  transform: rotate(45deg);
  width: 40px;
  height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
}

@media screen and (max-width: 618px) {
  .popup__x-button {
    right: 5px;
    top: -49px;
    width: 26px;
    height: 26px;
  }
}

.popup__x-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
