.profile__add-button {
  height: 50px;
  width: 150px;
  background-image: url("../../../images/buttons/Add-Button.svg");
  border: none;
  transition: 0.5s ease;
  grid-area: add-button;
  background-color: none;
  margin: 36px auto 0;
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    width: 282px;
    background-image: url("../../../images/buttons/Add-Button-long.svg");
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
