.cards__title-wrapper {
  min-height: 79px;
  background-color: white;
  margin: -4px 0 0 0;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
