.cards__title-wrapper {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 25px 21px;
}
