.cards__like-button {
  min-height: 19px;
  min-width: 21px;
  transition: 0.5s ease;
  background: url(../../../images/buttons/Vector-like-button.svg);
  border: none;
  color: white;
}

.cards__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
