.profile__info {
  display: grid;
  grid-template-columns: minmax(auto, 373px) auto;
  grid-template-areas:
    "name button"
    "about about";
  margin-left: 30px;
  grid-area: info;
  gap: 10px 18px;
}

@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: minmax(auto, 196px) auto;
    margin: 30px auto 0;
    gap: 0;
  }
}
